.Rproj.user
.Rhistory
.RData
.Ruserdata
mat.save
vignettes/*html
vignettes/*files
vignettes/*cache
salmon_index.*
gencode*
tmp*
submit_salmon_index.sh
.cache
quant_*
salmon_quant_*
submit_salmon_*
vignettes/STAR*
vignettes/submit*
test.Rds
*.pdf
*.csv
pcaOut.PC1.chr21.txt
dev_RNAseq_mm10_SF_Bertke.R
DKSC.monocle_loaded.Rds
DKSC.monocle_processed.Rds
*.html
*.png
_ncbi_downloads
mir_nearby_peaks.txt
