.Rproj.user
.Rhistory
.RData
.Ruserdata
mat.save
vignettes/*html
vignettes/*files
vignettes/*cache
salmon_index.*
gencode*
tmp*
submit_salmon_index.sh
.cache
quant_*
salmon_quant_*
submit_salmon_*
vignettes/STAR*
vignettes/submit*
test.Rds
*.pdf
*.csv
pcaOut.PC1.chr21.txt
